@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.navstyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #419D78;
    font-size: 18px;
    color: aliceblue;
    width: 100vw;
    height: 70px;
    box-shadow:         0px 9px 5px 0px rgba(50, 50, 50, 0.48);
    font-family: 'Open Sans';
}

.sortestyle {
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.48);
    font-family: 'Open Sans';
  }