.logostyle {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.imgstyle {
	width: 210px;
	height: 210px;
	border-radius: 50%;

}
.logostyle p {
	font-size: 36px;
	font-weight: lighter;
}